#navbar{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

#create_post {
    width: 9rem;
    font-size: large;
    left: 77rem;
    bottom: 1rem;
    position: fixed;
}

#create_post_btn{
    background-color: grey;
    color: blue;
}

#post_creation_h1{
    position: relative;
    left: 2rem;
}

#create_post_text{
    position: relative;
    top: 2.5rem;
    left: 2rem;
}

#post_post{
    position: relative;
    bottom: -5rem;
    left: -25rem;
}

#all_posts {
    display: flex;
    justify-content: center;
}

#post_content{
    margin: 2rem;
    border: 0.3rem solid;
    border-radius: 1rem;
    border-color: grey;
    max-width: fit-content;
    white-space: normal;
    word-wrap: break-word;
}

#creator_post {
    display: flex;
    margin-left: 0.1rem;
}

#date {
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.2rem;
}
h6 {
    margin-left: 0.1rem;
    margin-right: 0.2rem;
}
#likes_num{
    color: #c70e0e;
}
#creator{
    color: #2f2ffb;
}
#parent{
    display: flex;
    flex-direction: column-reverse;
}

#follow{
    margin-left: 1rem;
}
