body, html{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height:100%;
    background-color: #5cb6fd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: auto; 
}

#navbar{
    box-shadow: 0 1px 5px black;
    width: 100vw;
    height: 15%;
    background-color: white;
    display: flex;
}

#title{
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
}

.nav_items{
    display: flex;
    align-items: flex-end;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-left: 0.7rem;
    margin-right: 0.3rem;
}

#log_in{
    display: flex;
    position:relative;
    left: 30rem;
}

#profile_pic{
    width:2rem;
    height:2rem;
}

a{
    text-decoration: none;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image_up{
    width: 11rem;
}

.form-control{
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    padding: 7px 0;
    margin-bottom: 0.2rem;
    background: transparent;
}

#form_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

#form{
    width: fit-content;
    background-color: #5cb6fd;
    height: 100%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    box-shadow: 0px 6px 8px black;
    font-size:larger;
}

#body{
    height: 85%;
}

.not_user{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 2.5rem;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sea{
    margin-right: 3rem;
}

#edu{
    display:flex;
}

#skills{
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
}

#singleCV{
    margin-top: 1rem;
    margin-left: 2rem;
    border: 0.3rem solid;
    border-color: black;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

#person{
    margin-bottom: 0;
    margin-top: 0;
}
#desc{
    margin-top: 0;
}

.per_ski{
    display: flex;
}

.skill{
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    margin-left: 0.5rem;
    background-color: #7bff01;
    border-radius: 0.5rem;
    height: fit-content
}

#skill{
    display: flex;
    align-items: center;
}

.selects{
    display:flex;
}

#sel_cat{
    margin-right: 3rem;
}

#search_div{
    display: flex;
}

#search{
    margin-left: 1rem;
}

#or{
    position: relative;
    left: 30%;
}

#filter{
    position: relative;
    left: 55%;
}


#search_bar{
    margin-left: 1rem;
    border-radius: 4px;
    border: solid 2px grey;
    width: 22rem;
    height: 1.5rem;
}

#search_btn{
    height: 1.9rem;
}

#all_search{
    display:flex;
}

#selects{
    display: flex;
    width: 55%;
    justify-content: flex-end
}
