{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% block profile %}
{% endblock profile %}
        {% if posts %}
        <h1 id="all_posts">{{title}}</h1>
        {% for post in page_obj %}
        <div id="post_content">
            <div id="creator_post">
                <h4 id="creator"><a href="{% url "profile" post.creator %}">{{ post.creator }}</a></h4>
                <h5 id="date">{{ post.date_created }}</h5></div>
            <div id="div{{post.id}}"><h6 id="post{{post.id}}">{{ post.contents }}</h6><textarea class="text" name="contents" id="text{{post.id}}"></textarea></div>
            <div id="creator_post">
            <h6 id="likes_num">{{post.likes_num}} likes</h6>
            <div id="btn{{post.id}}"><button class="edit_btn" id="edit_btn{{post.id}}" data-id={{post.id}}>Edit</button>
                <button class="save_btn" id="save_btn{{post.id}}" data-id={{post.id}} >Save</button></div>
            </div>
        </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% else %}
        <h1>No posts</h1>
        {% endif %}
    <div id="create_post"><button id="create_post_btn"><a id="create_post_btn" href="{% url 'create_post' %}">Create Post</a></button></div>
{% endblock %}

{% block script %}
<script src="{% static 'network/inbox.js' %}"></script>
{% endblock script %}
