{% extends "network/layout.html" %}

{% block body %}
        {% if posts %}
        <h1 id="all_posts">All Posts</h1>
        {% for post in posts %}
        <div id="post_content">
            <div id="creator_post">
                <h4 id="creator"><a href="{% url "profile" post.creator %}">{{ post.creator }}</a></h4>
                <h5 id="date">{{ post.date_created }}</h5></div>
            <h6>{{ post.contents }}</h6>
            <h6 id="likes_num">{{post.likes_num}} likes</h6>
        </div>
        {% endfor %}
        {% else %}
        <h1>No posts</h1>
        {% endif %}
    <div id="create_post"><button id="create_post_btn"><a id="create_post_btn" href="{% url 'create_post' %}">Create Post</a></button></div>
{% endblock %}
